:root {
  /*Light Mode settings */
  --bg-color: #ffffff;
  --text-color: #213547;
  --primary-color: #646cff;
  --card-border: #e0e0e0;
}

  /* dark mode settings */
[data-theme='dark'] {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --primary-color: #747bff;
  --card-border: #444;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s; /* מעבר חלק ונעים */
}

button {
  border-radius: 8px;
  border: 1px solid var(--card-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}